@import "../../assets/style/globalStyle";
<<<<<<< HEAD
agm-map {
  height: 300px;
}
=======

.look_fom_friends {
  padding: 30px;
  font-size: 0;
  agm-map {
    height: 500px;
  }
  .asaid{
    display: inline-block;
    width: 180px;
    height:50px;
    background-color: #bce8f1;
  }
}
>>>>>>> 80086fcc5df8b4668ad26f755b2927e01d42c9c2
