@import "../../assets/style/globalStyle";
<<<<<<< HEAD



agm-map {
  height: 300px;
}

=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
agm-map {
  height: 300px;
}
=======
>>>>>>> e8d63939b53e75abd69ca8cf7d8cd492f9ec89a2
>>>>>>> 710ca7a32c33c7087359b3eab676d00da88e00fa

.look_fom_friends {
  padding: 30px;
  font-size: 0;
  agm-map {
    height: 500px;
  }
  .asaid{
    display: inline-block;
    width: 180px;
    height:50px;
    background-color: #bce8f1;
  }
<<<<<<< HEAD
}
=======
}
<<<<<<< HEAD
=======
>>>>>>> 80086fcc5df8b4668ad26f755b2927e01d42c9c2
>>>>>>> 710ca7a32c33c7087359b3eab676d00da88e00fa
>>>>>>> e8d63939b53e75abd69ca8cf7d8cd492f9ec89a2
